#site_header, #content, #site_footer { 
  width: 740px;
  margin: 0 auto;
}

#site_header #title_image { 
  margin: 15px 0 0 0;
}

#site_header a.help { 
  cursor: help;
}

#site_header #login_control { 
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
}
#site_header #login_control div.logged_out { 
  display: block;
  border: 1px solid #dbdbdb;
  padding: 4px 2px;
  border-top: none;
  background: url(/img/head/login_bg.png) #ededed repeat-x top left;
  vertical-align: middle;
}

#site_header #login_control div.logged_out a { 
  color: black;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
}

#site_header #login_control form.login_form { 
  display: none;
  background: #cccccc;
  border: 1px solid #8e8e8e;
  border-top: none;
  position: absolute;
  right: 3px;
  padding: 10px;
  font-size: 10px;
}
#site_header #login_control form.login_form td { 
  vertical-align: middle;
}
#site_header #login_control form.login_form tr.password input,
#site_header #login_control form.login_form tr.email    input  { 
  background: white;
  border: 1px solid black;
}
#site_header #login_control form.login_form label { 
  font-weight: bold;
}
#site_header #login_control form.login_form div.buttons {
  text-align: center;
  margin-top: 5px;
}
#site_header #login_control form.login_form div.buttons * { 
  background: url(/img/head/login_button_bg.png) #666666 no-repeat top left;
  border: 1px solid black;
  border-radius: 6px;  
  -moz-border-radius: 6px;  
  -webkit-border-radius: 6px;  

  text-align: center;

  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 0 10px;
}



#site_header #login_control div.logged_in { 
  background: #ececec;
  border: 1px solid #d7d7d7;
  border-top: none;
  padding-top: 5px;

}
#site_header #login_control div.logged_in div.user_name { 
  font-weight: bold;
  float: left;
  margin: 0 10px 5px 10px;
}
#site_header #login_control div.logged_in a.logout { 
  display: block;
  float: right;
  margin: 0 5px;
  padding: 0 5px;

  color: black;
}

#site_header #login_control div.logged_in div.user_controls { 
  clear: both;
  margin: 0;
  padding: 2px 8px;

  background: #f2f2f2;
  border-top: 1px solid #d7d7d7;

  text-align: justify;

}
#site_header #login_control div.logged_in div.user_controls a { 
  font-weight: bold;
  color: black;
  padding: 10px;
}


hr#head_division { 
  border: none;
  border-top: 1px solid #cdcdcd;
  margin-top: 7px;
}
