.toolbar { 
  background: url(/img/head/tb/bg_gradient.png) #cdcdcd repeat-x top left;
  height: 28px;
  border-spacing: 0;
  width: 100%;
  margin-top: 4px;
  clear: both;
  border-collapse: collapse;

}

.toolbar td { 
  border: 1px solid #757575;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.toolbar ul a { 
  color: black;
  display: block;
  padding: 4px 12px;
  white-space: nowrap;
}
.toolbar ul a:hover { 
  text-decoration: none;
  background: #bbbbe5;
}

.toolbar td.menu ul.menu { 
  display: none;
  border: 1px solid black;
  position: absolute;
  z-index: 99;
  background: #fafafa;
  margin: 0 0 0 -1px;
  list-style: none;
}
.toolbar h3 { 
  margin: 0 5px;
  font-size: 13px;
}
.toolbar td ul { 
  list-style: none;
  padding: 7px 0;
}
.toolbar li { 
  margin: 0;
}


.toolbar a.category { 
  display: block;
  width: 100%;
  height: 26px;

  text-align: center;
  vertical-align: middle;

  color: black;
  font-size: 17px;
}

.toolbar td:hover { 
  background: url(/img/head/tb/hi_gradient.png) repeat-x top left;
}
.toolbar td:hover a.category { 
  color: white;
  text-decoration: none;
}

.toolbar td.toolbar_search { 
  width: 291px;

  text-align: center;
  vertical-align: bottom;
  padding-bottom: 3px;
}

.toolbar form.quicksearch { 
  display: block;
  margin: 0;
  padding: 0;
}
.toolbar form.quicksearch .field { 
  width: 152px; 
  height: 16px;

  padding: 1px 5px;

  background: url(/img/head/tb/solsearch_input_bg.png) repeat-x top left;

  border: 1px solid black;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

  font-size: 12px;
  font-family: serif;

}

.toolbar form.quicksearch .button { 
  width: 91px;
  height: 20px;
  padding-bottom: 3px;
  margin-left: 4px;

  background: url(/img/head/tb/solsearch_button_bg.png) #fea226 no-repeat top left;

  font-size: 14px;

  border: 1px solid black;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
